#ein{
    /* display: flex; */
    position: relative;
    top: 100px;
    margin-bottom: 100px;
    justify-content: center;
    width: 750px;
    
}
#einPics{
    position: relative;
    top: 35px;
    margin-bottom: 10px;
    justify-content: center;
    
}

.carousel-inner img {
    margin: auto;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    box-shadow: #5bc0de 0px 0px 10px 0px;
}

.carousel-control-prev {
    justify-content: center;
    margin-left: 630px;

}
.carousel-control-next {
    justify-content: center;
    margin-right: 630px;
  
}

#einInfo{ 
  position: relative;
  top: 100px;
  margin-bottom: 500px;
  justify-content: center;
  width: 1000px;
}

.jumbotron{
  box-shadow: #5bc0de 0px 0px 5px 10px;
}

body{
  background: black;
}

.spaceCowboy{
  font-family: cursive;
}

#shop{
  margin-top: 100px;
  margin-bottom: 100px;
}
